<?xml version="1.0"?>
<launch>
	<arg name="robot_name" default="mobilearmbot"/>
	<include file="$(find mobilearmbot_gazebo)/launch/world.launch">
		<arg name="robot_name" value="$(arg robot_name)"/>
	</include>
	<node pkg="mobilearmbot_demos" type="MobileArmBotDrive" name="MobileArmBotDrive" ns="$(arg robot_name)"/>
	<node pkg="mobilearmbot_demos" type="MobileArmBotArm" name="MobileArmBotArm" ns="$(arg robot_name)"/>
</launch>


