<launch>
  <!-- Robot arguments -->
  <arg name="robot_name" default="mobilearmbot"/>
  
  <!-- Gazebo arguments -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="world_name" default="worlds/empty.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

    <!-- Load URDF -->
    <param name="robot_description"
      command="$(find xacro)/xacro $(find mobilearmbot_description)/urdf/mobilearmbot.urdf.xacro"/>

    <!-- Publish robot information & joint information (for tf) -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0"/>
    </node>
  
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <!-- Spawn the URDF -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model mobilearmbot -param robot_description"/>

    <!-- Launch controller -->
    <include file="$(find mobilearmbot_control)/launch/controller.launch"/>
</launch>
