<launch>
  <rosparam file="$(find mobilearmbot_control)/config/sim_controller_position.yaml" command="load"/>
  <arg name="robot_name" default="mobilearmbot"/>

  <node 
          name="controller_spawner" 
          pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="$(arg robot_name)" 
          args="joint_state_controller arm_link1_joint_position arm_link2_joint_position arm_link3_joint_position left_end_effector_joint_position right_end_effector_joint_position"/>

</launch>
